####################################################################
#               Explicitly ignore build artifacts                  #
####################################################################
setup.py
setup.cfg
pyproject.toml
tox.ini
dist/
build/
*.egg-info/
####################################################################
#                 Explicitly ignore any caches                     #
####################################################################
__pycache__
.pytest_cache/
####################################################################
#                     Ignore Non-Raw Source                        #
####################################################################
venv/
*.pyc
*.pyo
*.pyd
####################################################################
#                    Ignore Testing Artifacts                      #
####################################################################
.coverage
