####################################################################
#               Explicitly ignore build artifacts                  #
####################################################################
setup.py
setup.cfg
pyproject.toml
tox.ini